.player-wrapper {
  animation: fadein 1000ms ease-out;
  animation-iteration-count: 1;
  background: url("/img/player-background.png") no-repeat 0 100%;
  background-size: cover;
  margin-right: 20px;
}


@keyframes fadein {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
